{% extends "base.html" %}
{% block content %}

<hr>
<h2 class="ml-3">Fruit Plants</h2>     
<hr> 


<div class="row ml-3 mb-3 mt- 3">
    {%for plant in plants%}

        {% if plant.category == 'fruit'%}

        <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="{{plant.image.url}}" alt="" style="width: 220px; height: 200px;">
                <h3 class="">{{ plant.title }}</h3>
                <span class="price">&#2547; {{plant.price}}</span>
                <a href="{% url 'app:details' plant.slug%}" class="ml-5">Details</a>
                <a href="{% url 'app:addtocart' plant.id %}" class="btn btn-outline-danger mt-2 mr-4 text-center ">Add To Cart</a>
        </div>

        {% endif %}

{% endfor %}
</div>


{% endblock %}